volumes/db/data
volumes/storage
.env
.env.migration
.env.docker
.env.local.docker
*.csv
*.log
test.http
node_modules/
.vscode/
.pytest_cache/
__pycache__/
*.pyc
uv.lock
id_ed25519
docker-compose.override.yml
/docs
/.serena
/claudedocs
/tests/bug_fix_scripts
/mess
/supabase/.temp
ecs_ip_preview.json
/deployment/.terraform
deployment/terraform.tfstate.backup
deployment/terraform.tfstate
/deployment
todo.md
.env.self_example
.env.local.dockeer
.env.migration.example
